In [2]:
a=[1,2,3,4,5,6,7,8,9,10]
a2=[]
for i in a:
    a2.append(i**2)
print(a)
print(a2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
a3=[i**3 for i in a]
print(a3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
names=['maulik','ranjeet','abhishek','dhruv','jai']
name2=[i[0] for i in names]
print(name2)

['m', 'r', 'a', 'd', 'j']

In [13]:
b=[11,2,5,3,2,12,16,8,21,56,23,6]
b2=[]
for i in b:
    if i%2==0:
        b2.append(i/2)
print(b)
print(b2)

[11, 2, 5, 3, 2, 12, 16, 8, 21, 56, 23, 6]
[1.0, 1.0, 6.0, 8.0, 4.0, 28.0, 3.0]

In [15]:
b3=[i/2 for i in b if i%2==0]
print(b3)

[1.0, 1.0, 6.0, 8.0, 4.0, 28.0, 3.0]

In [16]:
#wap to create a list of 10 numbers, then use comprehension to create another list of only odd numbers
#wap to create a list of 10 numbers, ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' '  ' ' ' '  even numbers
#wap to create a list a=['2','3','5','10'] then use comprehension to create another list of only int numbers
#wap to add element of 2 lists in a 3rd list using comprehension assuming both lists are equal in length

In [18]:
a=[1,2,3,4,5,6,7,8,9,10]
a2=[i for i in a if i%2!=0]
print(a2)

[1, 3, 5, 7, 9]

In [20]:
a=[1,2,3,4,5,6,7,8,9,10]
a2=[i for i in a if i%2==0]
print(a2)

[2, 4, 6, 8, 10]

In [22]:
a=['2','3','5','10'] 
a2=[int(i) for i in a ]
print (a2)

[2, 3, 5, 10]

In [1]:
a=[1,2,3,4,5,6,7,8,9,10]
a2=[11,22,33,44,55,66,77,88,99,100]
a3=[a[i]+a2[i] for i in range(len(a)) ]
print(a3)

[12, 24, 36, 48, 60, 72, 84, 96, 108, 110]

In [7]:
#q4 without using len()
#enumerate
x=['apple','banana','orange']
for index,value in enumerate(x):
    print(index)
    print(value)

0
apple
1
banana
2
orange

In [9]:
x=['apple','banana','orange','lemon']
for index,value in enumerate(x):
    if index%2==0:
     print(f"üí•{value}")
    else:
     print(f'‚ùå{value}')

üí•apple
‚ùåbanana
üí•orange
‚ùålemon

In [13]:
#zip-when u want to pass multiple sequences in a loop
name=['alex','mary','sam','alice']
hindi=[56,78,90,78]
english=[67,89,90,78]
for n,i,j in zip(name,hindi,english):
    print(f'{n} got {i} in hindi')
    print(f'{n} got {j} in english')

alex got 56 in hindi
alex got 67 in english
mary got 78 in hindi
mary got 89 in english
sam got 90 in hindi
sam got 90 in english
alice got 78 in hindi
alice got 78 in english

In [19]:
for n,h,e in zip(name,hindi,english):
    print(f'{n:<20} hindi={h} | english={e} | total={h+e}')

alex                 hindi=56 | english=67 | total=123
mary                 hindi=78 | english=89 | total=167
sam                  hindi=90 | english=90 | total=180
alice                hindi=78 | english=78 | total=156