In [30]:
"""dictionary       {}
  complex value      key value
  student={
           'maulik':'MU',
           'Aman':'NPGC',
           'Abhay':'NPGC',
           'Mazahir':'AU',
           'Imadul':'IU',
           'Prashutosh':'SHUATS'
                ^          ^
                !          !
               Key        Value 
  }"""
student={
           'maulik':'MU',
           'Aman':'NPGC',
           'Abhay':'NPGC',
           'Mazahir':'AU',
           'Imadul':'IU',
           'Prashutosh':'SHUATS',
           'Shoeb': {
               'college':'IET',
               'type':'Online'
           },
           'Mandavi':{
               'college':'HNBGU',
               'type':'online'
           }
                
  }

In [31]:
student['Shoeb']  #only key can be entered

{'college': 'IET', 'type': 'Online'}

In [32]:
from pprint import pp
pp(student)

{'maulik': 'MU',
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahir': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'Online'},
 'Mandavi': {'college': 'HNBGU', 'type': 'online'}}

In [33]:
student['Mandavi']['type']

'online'

In [34]:
student['shreya']={
    'college':'bbdu',
    'type':'online'
}
pp(student)

{'maulik': 'MU',
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahir': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'Online'},
 'Mandavi': {'college': 'HNBGU', 'type': 'online'},
 'shreya': {'college': 'bbdu', 'type': 'online'}}

In [35]:
student['Shoeb']['type']='flexi'
student.pop('Abhay')

'NPGC'

In [39]:
report={
    'class10':{
        'rohan':{
            'english':90,
            'maths':95,
            'hindi':85,
            'science':95,
            'social':95,
            'p.e.':95
        },
        'rhythem':{
            'english':50,
            'maths':55,
            'hindi':45,
            'science':55,
            'social':55,
            'p.e.':95 
        },
        'aditi':{
             'english':67,
            'maths':66,
            'hindi':54,
            'science':89,
            'social':99,
            'p.e.':99
        },
        'shubh':{
             'english':94,
            'maths':97,
            'hindi':86,
            'science':99,
            'social':75,
            'p.e.':95
        },
        'niya':{
            'english':100,
            'maths':99,
            'hindi':98,
            'science':95,
            'social':45,
            'p.e.':95
        },
        'aditya':{
             'english':80,
            'maths':85,
            'hindi':89,
            'science':94,
            'social':93,
            'p.e.':91
        },
    }
}

In [40]:
pp(report)

{'class10': {'rohan': {'english': 90,
                       'maths': 95,
                       'hindi': 85,
                       'science': 95,
                       'social': 95,
                       'p.e.': 95},
             'rhythem': {'english': 50,
                         'maths': 55,
                         'hindi': 45,
                         'science': 55,
                         'social': 55,
                         'p.e.': 95},
             'aditi': {'english': 67,
                       'maths': 66,
                       'hindi': 54,
                       'science': 89,
                       'social': 99,
                       'p.e.': 99},
             'shubh': {'english': 94,
                       'maths': 97,
                       'hindi': 86,
                       'science': 99,
                       'social': 75,
                       'p.e.': 95},
             'niya': {'english': 100,
                      'maths': 99,
                      'hindi': 98,
                      'science': 95,
                      'social': 45,
                      'p.e.': 95},
             'aditya': {'english': 80,
                        'maths': 85,
                        'hindi': 89,
                        'science': 94,
                        'social': 93,
                        'p.e.': 91}}}