In [31]:
"""dictionary       {}
  complex value      key value
  student={
           'maulik':'MU',
           'Aman':'NPGC',
           'Abhay':'NPGC',
           'Mazahir':'AU',
           'Imadul':'IU',
           'Prashutosh':'SHUATS'
                ^          ^
                !          !
               Key        Value 
  }"""
student={
           'maulik':'MU',
           'Aman':'NPGC',
           'Abhay':'NPGC',
           'Mazahir':'AU',
           'Imadul':'IU',
           'Prashutosh':'SHUATS',
           'Shoeb': {
               'college':'IET',
               'type':'Online'
           },
           'Mandavi':{
               'college':'HNBGU',
               'type':'online'
           }
                
  }

In [32]:
student['Shoeb']  #only key can be entered

{'college': 'IET', 'type': 'Online'}

In [33]:
from pprint import pp
pp(student)

{'maulik': 'MU',
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahir': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'Online'},
 'Mandavi': {'college': 'HNBGU', 'type': 'online'}}

In [34]:
student['Mandavi']['type']

'online'

In [35]:
student['shreya']={
    'college':'bbdu',
    'type':'online'
}
pp(student)

{'maulik': 'MU',
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahir': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'Online'},
 'Mandavi': {'college': 'HNBGU', 'type': 'online'},
 'shreya': {'college': 'bbdu', 'type': 'online'}}

In [36]:
student['Shoeb']['type']='flexi'
student.pop('Abhay')

'NPGC'

In [37]:
report={
    'class10':{
        'rohan':{
            'english':90,
            'maths':95,
            'hindi':85,
            'science':95,
            'social':95,
            'p.e.':95
        },
        'rhythem':{
            'english':50,
            'maths':55,
            'hindi':45,
            'science':55,
            'social':55,
            'p.e.':95 
        },
        'aditi':{
             'english':67,
            'maths':66,
            'hindi':54,
            'science':89,
            'social':99,
            'p.e.':99
        },
        'shubh':{
             'english':94,
            'maths':97,
            'hindi':86,
            'science':99,
            'social':75,
            'p.e.':95
        },
        'niya':{
            'english':100,
            'maths':99,
            'hindi':98,
            'science':95,
            'social':45,
            'p.e.':95
        },
        'aditya':{
             'english':80,
            'maths':85,
            'hindi':89,
            'science':94,
            'social':93,
            'p.e.':91
        },
    }
}

In [38]:
pp(report)

{'class10': {'rohan': {'english': 90,
                       'maths': 95,
                       'hindi': 85,
                       'science': 95,
                       'social': 95,
                       'p.e.': 95},
             'rhythem': {'english': 50,
                         'maths': 55,
                         'hindi': 45,
                         'science': 55,
                         'social': 55,
                         'p.e.': 95},
             'aditi': {'english': 67,
                       'maths': 66,
                       'hindi': 54,
                       'science': 89,
                       'social': 99,
                       'p.e.': 99},
             'shubh': {'english': 94,
                       'maths': 97,
                       'hindi': 86,
                       'science': 99,
                       'social': 75,
                       'p.e.': 95},
             'niya': {'english': 100,
                      'maths': 99,
                      'hindi': 98,
                      'science': 95,
                      'social': 45,
                      'p.e.': 95},
             'aditya': {'english': 80,
                        'maths': 85,
                        'hindi': 89,
                        'science': 94,
                        'social': 93,
                        'p.e.': 91}}}

In [39]:
report['class10']['aditi']['english']

67

In [40]:
print(report.keys())
report['class10'].keys()

dict_keys(['class10'])

dict_keys(['rohan', 'rhythem', 'aditi', 'shubh', 'niya', 'aditya'])

In [41]:
report['class10']['rohan']

{'english': 90,
 'maths': 95,
 'hindi': 85,
 'science': 95,
 'social': 95,
 'p.e.': 95}

In [42]:
report['class10']['rohan']['english']

90

In [46]:
report.values()

dict_values([{'rohan': {'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'social': 95, 'p.e.': 95}, 'rhythem': {'english': 50, 'maths': 55, 'hindi': 45, 'science': 55, 'social': 55, 'p.e.': 95}, 'aditi': {'english': 67, 'maths': 66, 'hindi': 54, 'science': 89, 'social': 99, 'p.e.': 99}, 'shubh': {'english': 94, 'maths': 97, 'hindi': 86, 'science': 99, 'social': 75, 'p.e.': 95}, 'niya': {'english': 100, 'maths': 99, 'hindi': 98, 'science': 95, 'social': 45, 'p.e.': 95}, 'aditya': {'english': 80, 'maths': 85, 'hindi': 89, 'science': 94, 'social': 93, 'p.e.': 91}}])

In [47]:
print(report['class10'].values())

dict_values([{'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'social': 95, 'p.e.': 95}, {'english': 50, 'maths': 55, 'hindi': 45, 'science': 55, 'social': 55, 'p.e.': 95}, {'english': 67, 'maths': 66, 'hindi': 54, 'science': 89, 'social': 99, 'p.e.': 99}, {'english': 94, 'maths': 97, 'hindi': 86, 'science': 99, 'social': 75, 'p.e.': 95}, {'english': 100, 'maths': 99, 'hindi': 98, 'science': 95, 'social': 45, 'p.e.': 95}, {'english': 80, 'maths': 85, 'hindi': 89, 'science': 94, 'social': 93, 'p.e.': 91}])

In [48]:
movies={
    '3 idiots':'a story about 3 friends',
    'lunchbox':'a story about lunnchbox',
    'dangal':'a story about wrestelers',
    'pk':'a story about aliens',
    'taare zameen par':'a story about a student',
    'Ra.one':' A story about video games',
    'haunted':'a story about a ghost'
}

In [49]:
movies.items()

dict_items([('3 idiots', 'a story about 3 friends'), ('lunchbox', 'a story about lunnchbox'), ('dangal', 'a story about wrestelers'), ('pk', 'a story about aliens'), ('taare zameen par', 'a story about a student'), ('Ra.one', ' A story about video games'), ('haunted', 'a story about a ghost')])

In [53]:
for k,v in movies.items():
    print(k,'==>',v)

for k,v in movies.items():
    print(f'{k:20} {v}')

3 idiots ==> a story about 3 friends
lunchbox ==> a story about lunnchbox
dangal ==> a story about wrestelers
pk ==> a story about aliens
taare zameen par ==> a story about a student
Ra.one ==>  A story about video games
haunted ==> a story about a ghost
3 idiots             a story about 3 friends
lunchbox             a story about lunnchbox
dangal               a story about wrestelers
pk                   a story about aliens
taare zameen par     a story about a student
Ra.one                A story about video games
haunted              a story about a ghost

In [55]:
isinstance(report['class10'],dict)#verifies if object is data type

True

In [58]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
     for name,subjects in students.items():
        print('--->',name)
        if isinstance(subjects,dict):
            for subjects, marks in subjects.items():
                print('-->',subjects,'=',marks)

class10
---> rohan
--> english = 90
--> maths = 95
--> hindi = 85
--> science = 95
--> social = 95
--> p.e. = 95
---> rhythem
--> english = 50
--> maths = 55
--> hindi = 45
--> science = 55
--> social = 55
--> p.e. = 95
---> aditi
--> english = 67
--> maths = 66
--> hindi = 54
--> science = 89
--> social = 99
--> p.e. = 99
---> shubh
--> english = 94
--> maths = 97
--> hindi = 86
--> science = 99
--> social = 75
--> p.e. = 95
---> niya
--> english = 100
--> maths = 99
--> hindi = 98
--> science = 95
--> social = 45
--> p.e. = 95
---> aditya
--> english = 80
--> maths = 85
--> hindi = 89
--> science = 94
--> social = 93
--> p.e. = 91

In [73]:

s=0
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
     for name,subjects in students.items():
          
          print('--->',name)
          if isinstance(subjects,dict):
              s=0
              h=0
              t=''
              for subjects, marks in subjects.items():
                print('-->',subjects,'=',marks)
                s=s+marks
                if h<=marks:
                   h=marks
                   t=subjects
              print(s)
              print(f'average is={s/6} ')
              print('avg->',s//6)
              print(f'the highest marks are {h} in {t} ')

class10
---> rohan
--> english = 90
--> maths = 95
--> hindi = 85
--> science = 95
--> social = 95
--> p.e. = 95
555
average is=92.5
avg-> 92
the highest marks are 95 in p.e.
---> rhythem
--> english = 50
--> maths = 55
--> hindi = 45
--> science = 55
--> social = 55
--> p.e. = 95
355
average is=59.166666666666664
avg-> 59
the highest marks are 95 in p.e.
---> aditi
--> english = 67
--> maths = 66
--> hindi = 54
--> science = 89
--> social = 99
--> p.e. = 99
474
average is=79.0
avg-> 79
the highest marks are 99 in p.e.
---> shubh
--> english = 94
--> maths = 97
--> hindi = 86
--> science = 99
--> social = 75
--> p.e. = 95
546
average is=91.0
avg-> 91
the highest marks are 99 in science
---> niya
--> english = 100
--> maths = 99
--> hindi = 98
--> science = 95
--> social = 45
--> p.e. = 95
532
average is=88.66666666666667
avg-> 88
the highest marks are 100 in english
---> aditya
--> english = 80
--> maths = 85
--> hindi = 89
--> science = 94
--> social = 93
--> p.e. = 91
532
average is=88.66666666666667
avg-> 88
the highest marks are 94 in science